{% extends "base.html" %}
{% block title %}Add Recipe - Recipe Manager{% endblock %}
{% block content %}
<h1>Add Recipe</h1>
<div class="grid">
    <a role="button" href="{{ url_for('recipes.add_from_link') }}">Add recipe from link</a>
    <a role="button" href="{{ url_for('recipes.add_from_photo') }}">Add recipe from photo</a>
    <a role="button" href="{{ url_for('recipes.add_from_text') }}">Add recipe from text</a>
    <a role="button" href="{{ url_for('recipes.add_idea') }}">Add recipe idea</a>
</div>
{% endblock %}
